In [7]:
if 'ult' in 'grault':                # Truthy
    print('yes')

yes

In [13]:
if 'ba' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

In [10]:
print('na' in ['ni', 'no', 'na'])

True

In [17]:
a = 2
b = 3

if a<b:
    if a<=b:
        print('betul gays kalo gini indentasinya')
print('ini akhir program')

betul gays kalo gini indentasinya
ini akhir program

In [20]:
name = 'maya'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'maya':
    print('Hello maya')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello maya

In [24]:
harga_jeruk = 30000
standar_harga = 30000
if harga_jeruk > standar_harga:
    print('MAHAL broo')
elif harga_jeruk < standar_harga:
    print('jeruk murahan!')
elif harga_jeruk == standar_harga:
    print('jeruk b aja')

jeruk b aja

In [40]:
harga_jeruk = int(input('Masukkan harga jeruk '))
standar_harga = 30000
if harga_jeruk > standar_harga:
    print('MAHAL broo');
elif harga_jeruk <= standar_harga:
    print('jeruk murahan!')
else :
    print('jeruk b aja')

Masukkan harga jeruk 30
jeruk murahan!

In [50]:
pisang = int(input('Beli pisang : '))
harga = 3000
total_harga = pisang * harga
if total_harga > 100000:
    print(total_harga - (total_harga*0.1));
elif  50000 > total_harga < 100000:
    print(total_harga - (total_harga*0.05));
else :
    print(total_harga);

Beli pisang : 30
90000

In [71]:
pisang = int(input('Beli pisang : '))
harga = 3000
total_harga = pisang * harga
if total_harga > 100000:
    print('Harga setelah diskon :', total_harga - (total_harga*0.1));
elif  total_harga > 50000 and  total_harga < 100000:
    print('Harga setelah diskon :', total_harga - (total_harga*0.05));
else :
    print('Harga setelah diskon :', total_harga);

Beli pisang : 30
Harga setelah diskon : 85500.0

In [73]:
# ATAU

pisang = int(input('Beli pisang : '))
harga = 3000
total_harga = pisang * harga
if total_harga > 100000:
    print('Harga setelah diskon :' + int(total_harga - (total_harga*0.1)));
elif  total_harga > 50000 and  total_harga < 100000:
    print('Harga setelah diskon :', int(total_harga - (total_harga*0.05)));
else :
    print('Harga setelah diskon :' + int( total_harga));

Beli pisang : 30
Harga setelah diskon : 85500

## One-line-is-statement

In [75]:
harga_jeruk = int(input('Masukkan harga jeruk '))
standar_harga = 30000
if harga_jeruk > standar_harga: print('MAHAL broo'); print('Makanya jadi orang KAYA')
elif harga_jeruk <= standar_harga: print('jeruk murahan!'); print('CARI DUIT')
else : print('jeruk b aja') ; print('pasaran emang')

Masukkan harga jeruk 30
jeruk murahan!
CARI DUIT

In [79]:
umur = 36
s = 'TUA' if umur > 35 else 'Brondong euy'
s

'TUA'

In [81]:
nama = 'Nasra'
n = 'In Class' if nama in ['Sabreen', 'Nasra', 'Saba'] else 'Out Class'
n

'In Class'

In [83]:
gaji = int(input('Gaji : '))
thn = int(input('Year of service : '))
if thn > 10:
    print("Gaji Anda adalah ", gaji + (gaji*0.1))
else :
    print('Gaji Anda adalah ', gaji)

Gaji : 10000000
Year of service : 15
Gaji anda adalah  11000000.0

## LOOP

### While Loop

In [90]:
apel = 10
while apel > 0:
    apel = apel-1
    print(apel)

9
8
7
6
5
4
3
2
1
0

In [94]:
apel = 10
while apel > 0:
    apel = apel-1
    if apel == 1:
        print('Yakin gamau? sisa 1 nih')
    else:
        print(apel)

9
8
7
6
5
4
3
2
Yakin gamau? sisa 1 nih
0

In [97]:
# break untuk memberhentikan loop

apel = 10
while apel > 0:
    apel = apel-1
    if apel == 2:
        print('Yakin gamau? sisa 2 nih')
        break
    print('Jumlah apel ', apel)
print('sudah selesai')

Jumlah apel  9
Jumlah apel  8
Jumlah apel  7
Jumlah apel  6
Jumlah apel  5
Jumlah apel  4
Jumlah apel  3
Yakin gamau? sisa 2 nih
sudah selesai

In [98]:
# continue untuk melewati dan lanjut ke variabel berikutnya

apel = 10
while apel > 0:
    apel = apel-1
    if apel == 2:
        print('Yakin gamau? sisa 2 nih')
        continue
    print('Jumlah apel ', apel)
print('sudah selesai')

Jumlah apel  9
Jumlah apel  8
Jumlah apel  7
Jumlah apel  6
Jumlah apel  5
Jumlah apel  4
Jumlah apel  3
Yakin gamau? sisa 2 nih
Jumlah apel  1
Jumlah apel  0
sudah selesai

In [105]:
# break untuk memberhentikan loop

apel = 10
while apel > 0:
    apel = apel-1
    print(apel)
    if apel == 2:
        break
else:
        print('selesai')

9
8
7
6
5
4
3
2

In [ ]:
# else

apel = 10
while apel > 0:
    apel -= 2
    print(apel)
else:
    print('sudah selesai')

### For Loop

In [87]:
for i in 'nasra':
    print(i)

n
a
s
r
a

In [92]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

## Nested If - Else & Loop

In [110]:
umur = 50
gender = 'F'
if umur < 18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
elif umur >= 18 and umur < 65:
    if gender == 'M':
        print('Dad')
    else:
        if gender == 'F':
            print('Mom')

Mom

In [115]:
# Nested for loop

a = [1,2,3,4,5,6]

for i in a: print(i)

1
2
3
4
5
6

In [120]:
b = ['nas', 'sab', 'breen']

for i in b:
    if i == 'sab':
        break
    for x in i:
        print(x)

n
a
s

In [112]:
n = 5
while n>0: n -=1; print(n)

4
3
2
1
0

In [141]:
dict_a = {'A': 'Bekasi', 'B':'Jakarta', 'C':'Medan'}
for i in dict_a:
    print(dict_a[i])

Bekasi
Jakarta
Medan

In [137]:
dict_a['A']

'Bekasi'

In [146]:
dict_a = {'A': 'Bekasi', 'B':'Jakarta', 'C':'Medan'}
for i in dict_a:
    if dict_a[i] == 'Jakarta':
        print(dict_a['A'])

Bekasi

In [158]:
dict_a.values()

dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [166]:
dict_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [160]:
dict_a = {'A': 'Bekasi', 'B':'Jakarta', 'C':'Medan'}
for i in dict_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [154]:
for i in ['nas', 'sab', 'breen']:
    if 'ab' in i:
        continue
        print('wiwiwi')
    print(i)
    
#   yang ada 'br' akan dilewati dan lanjut ke variabel berikutnya

nas
breen

In [155]:
for i in ['nas', 'sab', 'breen']:
    if 'ab' in i:
        pass
        print('wiwiwi')
    print(i)

nas
wiwiwi
sab
breen

In [156]:
for i in ['nas', 'sab', 'breen']:
    if 'ab' in i:
        break
        print('wiwiwi')
    print(i)
    
#   yang ada 'br' akan dilewati dan lanjut ke variabel berikutnya

nas

- LOOP keseluruhan iterasi objek, fungsi loop di atas memiliki 4 iterasi
- Iterasi adalah istilah untuk 1 putaran loop
- continue akan memberhentikan iterasi dan lanjut ke iterasi berikutnya
- loop akan memberhentikan loop secara keseluruhan(langsung selesai)
- pass untuk if : menolak keseluruhan kondisi if
- continue untuk for : ngeskip iterasinya

## Range

In [162]:
print(range(1,6))

range(1, 6)

In [163]:
a = [1,2,3,4,5,6]
a[1:6]

[2, 3, 4, 5, 6]

In [164]:
for i in range(6):
    print(i+1)

1
2
3
4
5
6

In [ ]:
a = [1,2,3]
b = [4,5,6]
for i,j in zip(a, b):
    print(i,j)
    
# zip() menyatukan dua iterasi menjadi 1

In [ ]:
angka = 1
while i<21 :
    if i%2 == 0:
        print('genap')
    else:
        print(i)
    i +=1

In [2]:
angka = 0
while angka <  20:
    angka += 1
    if angka % 2 == 0:
        print('GENAP')
    else:
        print(int(angka))

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

In [15]:
sisi = int(input('Masukkan jumlah sisi : '))
count = 1
while True:
    print("*"*count)
    count += 1
    
    if count > sisi :
        break

Masukkan jumlah sisi : 6
*
**
***
****
*****
******