In [3]:
def my_function(p, l):
    print(f'Fungsi menghitung Luas')
    luas = p * l
    print(f'Nilai luas adalah {luas}')
    
my_function(5,5)

Fungsi menghitung Luas
Nilai luas adalah 25

In [4]:
def printme(a):
    return a

printme('Maya')

'Maya'

In [17]:
def changme(mylist):
    mylist.append([1,2,3,4]);
    print(f'Values inside the function: {mylist}')
    
x = [11,12,13,14]
changme(x)
print(f'Values outside the function: {x}')

Values inside the function: [11, 12, 13, 14, [1, 2, 3, 4]]
Values outside the function: [11, 12, 13, 14, [1, 2, 3, 4]]

In [9]:
a = [1,2,3]
a.append([5,6])
a

[1, 2, 3, [5, 6]]

In [14]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist = [1,2,3,4]; # This would assig new reference in mylist
   print("Values inside the function: ", mylist)
   return

mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [20]:

def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

printme(str = "myyyyy")

myyyyy

In [30]:
def printinfo( name, msg, fname ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Full Name : ", fname)
   print("Message: ", msg)
   return;

# Now you can call printinfo function
printinfo( msg='Good Job!!!', name="Nas", fname='Nasra Sabreen' )

Name:  Nas
Full Name :  Nasra Sabreen
Message:  Good Job!!!

In [44]:
def fungsi(*args):
    nama = args[0]
    tinggi = args[1]
    berat = args[2]
    print(f"{nama} punya tinggi {tinggi}cm dan berat {berat}kg")
    print(args[0])

fungsi("Nini", 100, 30)

Nini punya tinggi 100cm dan berat 30kg
Nini

In [41]:
def tambah(*data_angka):
    hasil = 0
    for angka in data_angka:
        hasil += angka
    print(f"Hasil perhitungan adalah {hasil}")

tambah(1,2,3)

# args bisa diakses setiap indexnya

Hasil perhitungan adalah 6

In [45]:
def fungsi(**kwargs):
    nama = kwargs['nama']
    tinggi = kwargs['tinggi']
    berat = kwargs['berat']
    print(f"{nama} punya tinggi {tinggi}cm dan berat {berat}kg")
    print(kwargs['nama'])


fungsi(nama = "lulu", berat = 40, tinggi = 160)

lulu punya tinggi 160cm dan berat 40kg
lulu

In [58]:
def math(*data, **kwargs):
    hasil = 0
    if kwargs['opsi'] ==  'penjumlahan':
        print(f"Operasi Penjumlahan")
        for angka in data:
            hasil += angka

    elif kwargs['opsi'] ==  'perkalian':
        print (f"Operasi Perkalian")
        hasil = 1
        for angka in data:
            hasil *= angka
    else:
        print("Tidak ada operasi")
    
    return hasil

hasil = math(10,15,20, opsi = 'penjumlahan')
print(hasil)
hasil = math(10,20, opsi = 'perkalian')
print(hasil)

Operasi Penjumlahan
45
Operasi Perkalian
200

In [49]:
jumlah = lambda arg1, arg2 : arg1 +arg2
jumlah()

30

In [52]:
def pangkat(n):
    return lambda angka:angka**n

# pangkat2 = pangkat(2)
# print(f"Hasil pangkat 2 adalah {pangkat2(5)}")

# PANGKAT BEBAS
print(f"Hasil pangkat adalah {pangkat(2)(5)}") #(pangkat dulu), (baru angka)
print(f"Hasil pangkat adalah {pangkat(2)(3)}")
print(f"Hasil pangkat adalah {pangkat(3)(100)}")

Hasil pangkat adalah 25
Hasil pangkat adalah 9
Hasil pangkat adalah 1000000

In [55]:
# Function definition is here
def sum( arg1, arg2 ):
   # Add both the parameters and return them."
   total = arg1 + arg2
   print("Inside the function : ", total)
   return total;

# Now you can call sum function
total = sum( 10, 20 );
print("Outside the function : ", total)

Outside the function :  30

In [69]:
def kali(a, b):
    return a * b

x = kali(2,3)
y = kali(4,6)
z = kali(5,10)

print(x, y, z)

6 24 50

In [70]:
def str_joiner(a, b):
    return a + b

str_joiner('nas', 'ra')

'nasra'

In [104]:
def convert(data1, data2, data3):
    data_baru1 = data1.lower()
    data_baru2 = data2.lower()
    data_baru3 = data3.lower()
    return data_baru3[::-1] +  ' ' + data_baru2[::-1] + ' ' + data_baru1[::-1] 

print(convert('Maya', 'Mau', 'Makan'))

nakam uam ayam

In [97]:
def convert(data1, data2, data3):
    data_baru1 = data1.lower()
    data_baru2 = data2.lower()
    data_baru3 = data3.lower()
    return ( data_baru1 +  ' ' + data_baru2 + ' ' + data_baru3) [::-1] 

print(convert('Saya', 'Mau', 'Makan'))

nakam uam ayas

In [102]:
total = 20
 
    
def function_a(a, b):
    total = a + b
    return total

function_a(50, 3)

53

In [103]:
print(total)

20

In [133]:
def soal(mylist):
    countGanjil = 0
    countGenap = 0
    sumGanjil = 0
    sumGenap = 0
    
    for a in mylist:
        if a%2 == 0:
            countGenap += 1
            sumGenap += a  
        elif a%2 == 1:
            countGanjil += 1
            sumGanjil += a
    print(f'n angka ganjil adalah {countGanjil} dan jumlahnya {sumGanjil}')
    print(f'n angka genap adalah {countGenap} dan jumlahnya {sumGenap}')
            


mylist = [31,23,31,40,50,67,74,88,91,10,11,12,13]    

print(soal(mylist))

n angka ganjil adalah 7 dan jumlahnya 267
n angka genap adalah 6 dan jumlahnya 274
None

#### default argument

In [137]:
def printinfo( name, age=26 ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Age: ", age)
   return;
printinfo('nas', 12)

Name:  nas
Age:  12

#### variabel length arguments

In [152]:
def printinfo(x, *args):
    print('output is :')
    print(x)
    print(*args[2])
    
printinfo(30, 1, 'nama', 'nas', 'sra', 'bre' )

output is :
30
n a s

In [157]:
dataAngka = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

dataAngkaBaru = list(filter(lambda x:(x % 3 == 0), dataAngka))
print(dataAngkaBaru)

[3, 6, 9, 12, 15]

#### modules

In [159]:
import numpy as np

In [161]:
np.sqrt(9)

3.0

In [ ]:
np()